a {
    text-decoration: none;
}

#hero img {
    display: block;
    width: 100%;
    height: auto;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: blue;

}

header img {
    margin: 0 0.25rem 01rem;
    width: 100px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;

}

.nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-family: Arial, sans-serif;
}

.nav a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

body {
    font-family: Acme, Arial, sans-serif;
}

article {
    margin: 1em auto;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 1em;
    background-color: ace;
    width: min(600px, 100%);
    font-size: 1.2rem;
}




.section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 3px solid darkcyan;
    flex-wrap: wrap;
}

.section img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.section p {
    margin: 1rem;
    font-size: 1.2rem;
}

.section h2 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
    display: flex;
    padding: 1rem;

}


footer {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 100px;
}

.sociallinks img {
    width: 50px;
    height: auto;
    margin: 0.5rem;
    border: ;


}